@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins";
}

body {
  background-color: #fffaf0;
}

.proyectos {
  /* background-color: #7a78df; */
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 4.5rem;
}

.proyectos__content {
  text-align: center;
  padding: 0 2rem;
  margin-inline: auto;
  max-width: 1000px;
}

.proyectos__title {
  padding-top: 5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #0e0f2c;
  text-align: center;
  /* background: url("/svg/blob1.svg");
  background-position: center;
  background-position-y: 20px;
  background-size: contain;
  background-repeat: no-repeat; */
  /* padding-bottom: 200px;
  margin-bottom: -200px; */
}

.barrita {
  padding-bottom: 5rem;
}

.about {
  width: 100%;
}

.about__content {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2.5rem;
  margin-inline: auto;
  max-width: 1000px;
}

.about__txt {
  font-size: 1.3rem;
  font-weight: 200;
  color: #0e0f2c;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.about__txt:nth-child(1) {
  padding-top: 2rem;
  font-weight: 600;
}
/* nth-child(3) porque el stmlogo interfiere, estaria como ocupando el 2do lugar */
.about__txt:nth-child(3) {
  font-size: 1.1rem;
  font-weight: 300;
}

.about__txt:nth-child(5) {
  font-size: 1.1rem;
  font-weight: 300;
}

.about__txt:nth-child(6) {
  font-size: 1.2rem;
  font-weight: 500;
}

.stmlogo {
  width: 60%;
}

.screens {
  width: 100%;
}

.tutoriales__title {
  padding-top: 5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #0e0f2c;
  text-align: center;
}

.barrita_tuts {
  padding-bottom: 2rem;
}

.tutoriales-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding: 0 2.5rem;
  padding-bottom: 4rem;
}

.tutorial {
  margin-inline: auto;
  width: 100%;
  padding-bottom: 2.4rem;
}

#iframe {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .proyectos__content {
    padding: 0 4rem;
  }

  .proyectos__title {
    font-size: 2.6rem;
  }

  .about__content {
    padding: 0 4rem;
  }

  .about__txt:nth-child(1) {
    font-size: 1.8rem;
    padding: 0 4rem;
    padding-bottom: 6rem;
  }

  .stmlogo {
    width: 50%;
  }

  .about__txt:nth-child(3) {
    font-size: 1.4rem;
  }

  .about__txt:nth-child(5) {
    font-size: 1.4rem;
  }

  .tutoriales__title {
    font-size: 2.6rem;
  }

  .screens {
    padding: 2rem 0;
  }
}
/* ---------------------- */
.wave1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.wave1 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 360px;
}

.wave1 .shape-fill {
  fill: #31c7c7;
}

.spacer {
  margin-inline: auto;
  overflow: hidden;
  display: flex;
}
